*{
    padding: 0;
    margin: 0;
}
section{
    margin-top: 20px;
}
.box_area{
    display: grid;
    grid-template-columns: repeat(160, 1fr);
}
.box{
    height: 10px;
    width: 10px;
    margin-top: 1px;
}
.box:hover{
    background-color: black;
    height: 10px;
    width: 10px;

}